input {
  border-radius: 7px;
  padding: 10px 10px;
  border: none;
}
.selected-foodlist {
  list-style: none;
  margin: 1.5rem 0;
}
.selected-food-item {
  border-bottom: 1px solid;
  margin-bottom: 0.75rem;
}
label {
  margin: 1rem;
}
.carbs {
  color: rgba(235, 74, 42, 0.977);
  font-size: 32px;
}
.insulina {
  color: rgba(42, 235, 116, 0.977);
  font-size: 32px;
}
.cubiertos-logo {
  width: 130px;
  margin-bottom: 30px;
}
.buscar-label {
  text-align: center;
}
.food-input-group {
  padding: 50px 15px;
  width: -webkit-fill-available;
  background: rgb(101, 38, 165);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(7, 45, 91, 0.331)
  );
  background-size: 300%;
  /* min-height: 84dvh; */
}
.food-input {
  min-width: 300px;
}
