:root {
  --main-bg-color: dodgerblue;
  --secondary-bg-color: mediumseagreen;
  --accent-color: rgb(231, 103, 197);
  --text-color: rgba(255, 255, 255, 0.785);
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body {
  margin: 0;
  width: 100%;
}
html {
  background: linear-gradient(
    to right,
    var(--main-bg-color),
    var(--secondary-bg-color)
  );
  color: var(--text-color);
  background-size: 200%;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.main-container {
  gap: 2rem;
}

label {
  font-size: larger;
}

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
h1,
h2,
h3,
h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.buscar-tag {
  font-size: 50px;
  font-weight: lighter;
}
.food-input {
  min-width: 300px;
}
.legend {
  font-size: 20px;
}
.glucose-input-group {
  padding: 15px 10px;
  border: 1px solid;
  border-radius: 7px;
  gap: 1rem;
}
.food-input-group {
  padding: 50px 15px;
  width: -webkit-fill-available;
  background: rgb(101, 38, 165);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(7, 45, 91, 0.331)
  );
  background-size: 300%;
}

h3.legend {
  padding: 0px 15px;
}
.hidden {
  display: none;
}
.glucose-input-group img {
  width: 300px;
  padding-bottom: 30px;
  filter: invert(1);
  opacity: 0.7;
}
